* {
  border-radius: 5px;
  margin: 0;
  box-sizing: border-box;
  padding: 5px;
  overflow: hidden;
  font-family: serif;
}

:root {
    overflow: scroll;
}

:focus {
    outline: none;
}

body {
    background-color: #f0e6d6;
    background-image: url("./../images/Dirga.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    -webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
}

.menu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 900px;
    margin: auto;
}

.menuitem {
    color: #f0e6d6;
    background-color: #314977;
    min-width: 265px;
    max-width: 350px;
    text-align: center;
    font-size: 25px;
    margin-top: 10px;
    box-shadow: 2px 3px 3px black;
    cursor: pointer;
}

.page {
    display: none;
    max-width: 950px;
    text-align: center;
    color: black;
    background-color: rgba(240,230,214, .60);
    margin: auto;
    margin-top: 50px;
    padding-bottom: 30px;
    box-shadow: 2px 3px 3px black;
    border-top: solid 1px darkgray;
    border-left: solid 1px darkgray;
}

#mainpage {
    display: block;
    padding-top: 50px;
}

#titleline {
    animation: changingGradient 5s ease-in-out infinite;
    background: linear-gradient(-60deg, goldenrod, silver);
    background-size: 300%;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 50px;
    font-weight: bold;
    text-shadow: 2px 2px black;
    margin-bottom: 30px;
}

@keyframes changingGradient {
    0% {
        background-position: 0 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0 50%;
    }
}

#mainbutton, #updateinventorybutton, #updatespellsbutton, #instructionsbutton {
    background-color: #1b2841;
    box-shadow: none;
    border: 1px solid #f0e6d6;
}

.mainutilityrow, .newcharacterformrow, .viewcharacterformrow, .updatecharacterrow, .inventoryformrow, .spellsformrow {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 0px;
}

#viewcharacterdisplaytoprow {
    margin-top: 20px;
}

.mainutilitycolumn, .newcharacterformcolumn, .viewcharacterformcolumn, .updatecharacterformcolumn, .inventoryformcolumn, .spellsformcolumn {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    min-width: 25%;
    padding-top: 0px;
}

.updatecharactersubmitformcolumn, .inventoryviewcolumn, .spellsviewcolumn {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    min-width: 20%;
    padding-top: 0px;
}

.field-column, .view-column {
    height: 170px;
}

.utilityinput, .newcharacterinput, .viewcharacterinput, .updatecharacterinput, .updateinventoryinput, .updatespellsinput {
    margin: 5px;
    min-width: 200px;
    border-color: initial;
}

.mainutilitytogglebutton, .mainutilitysubmitbutton, .utilitydetailvaluedisplay, 
.characterdetailvaluedisplay, .itemdetailvaluedisplay, .spelldetailvaluedisplay {
    background-color: #314977;
    margin: 5px;
    min-width: 200px;
    color: #f0e6d6;
    font-size: 25px;
    height: 45px;
    vertical-align: middle;
    box-shadow: 2px 3px 3px black;
    padding-top: 8px;
    border: none;
}

label {
    text-align: left;
    margin-top: 10px;
    font-size: 20px;
}

select {
    background-color: white;
    border-style: inset;
    border-width: 2px;
    border-color: initial;
    max-height: 30px;
}

.newcharactertextarea, .updatecharactertextarea, .itemdescriptiontextarea, .spellsdescriptiontextarea {
    resize: none;
    border-style: inset;
    border-width: 2px;
    border-color: initial;
    margin: 5px;
    width: 435px;
    min-width: 225px;
    min-height: 80px;
}

.viewcharactertextarea, .viewitemdetailtextarea, .viewspelldetailtextarea {
    background-color: #314977;
    margin: 5px;
    width: 435px;
    min-width: 225px;
    color: #f0e6d6;
    font-size: 25px;
    min-height: 80px;
    text-align: left;
    vertical-align: middle;
    box-shadow: 2px 3px 3px black;
}


.newcharactercheckboxwrapper, .viewcharactercheckboxwrapper {
    display: flex;
    flex-direction: column;
    text-align: left;
    font-size: 18px;
    background-color: white;
    border-style: inset;
    border-color: initial;
    min-width: 270px;
}

.submitbutton, .resetviewbutton {
    border: none;
    color: #f0e6d6;
    background-color: #314977;
    height: 60px;
    min-width: 265px;
    max-width: 350px;
    text-align: center;
    font-size: 25px;
    margin-top: 20px;
    box-shadow: 2px 3px 3px black;
    cursor: pointer;
}

.buttonhover:hover {
    background-color: #057faf !important;
    color: black !important;
    box-shadow: 4px 5px 5px black !important;
    cursor: pointer;
}

#updateinventorysubmit, #addspellsubmit {
    margin-top: 60px;
}

#characterupdatesubmitform {
    display: none;
}

#inventorymenutoggle, #spellsmenutoggle {
    margin-top: 20px;
    margin-bottom: 30px;
}

#viewinventoryform {
    display: none;
}

#itemdetailsview {
    display: none;
    margin-top: 30px;
}

#incrementquantitybutton {
    margin-top: 40px;
    margin-bottom: 10px;
}

#viewspellsform {
    display: none;
}

#spellsdetailview {
    display: none;
}

.viewcharacterdisplay {
    display: none;
}

#incrementquantitybutton, #decrementquantitybutton {
    cursor: pointer;
}

#spellviewresetbutton {
    margin-top: 100px;
    cursor: pointer;
}

#mainutilityrow {
    justify-content: left;
}

#mainutilitytogglebuttoncolumn {
    margin-left: 35px;
}

#mainutilitysubpagedisplay {
    border: 2px solid black;
    width: 600px;
    margin-left: 20px;
}

#instructionsdisplay {
    display: block;
}

.mainutilitysubpagedisplay {
    display: none;
}

.utilitybutton {
    cursor: pointer;
}

#dicerollsubmitbutton {
    margin-top: 33px;
}

#diceresultdisplay, #dicerolldisplay {
    margin-top: 20px;
    font-size: 30px;
}

#diceresultdisplayrow {
    display: none;
}

#initiativedisplaytable {
    margin-top: 30px;
}

/* table {
    border-collapse: collapse;
} */

table {
    border-collapse: separate;
    border-spacing: 25px 15px;
}

td, th {
    background-color: #314977;
    color: #f0e6d6;
    font-size: 20px;
    vertical-align: middle;
    box-shadow: 2px 3px 3px black;
    border: none;
}

#initiativedisplaytablewrapper {
    display: none;
}
