* {
  border-radius: 5px;
  margin: 0;
  box-sizing: border-box;
  padding: 5px;
  overflow: hidden;
  font-family: serif;
}

:root {
    overflow: scroll;
}

:focus {
    outline: none;
}

body {
    background-color: #f0e6d6;
}

.menu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 900px;
    margin: auto;
}

.menuitem {
    color: #f0e6d6;
    background-color: #314977;
    min-width: 265px;
    max-width: 350px;
    text-align: center;
    font-size: 25px;
    margin-top: 10px;
    box-shadow: 2px 3px 3px black;
    cursor: pointer;
}

.page {
    display: none;
    max-width: 950px;
    min-height: 500px;
    text-align: center;
    color: black;
    background-color: lightgray;
    margin: auto;
    margin-top: 20px;
    box-shadow: 2px 3px 3px black;
    border-top: solid 1px darkgray;
    border-left: solid 1px darkgray;
}

#mainpage {
    display: block;
    padding-top: 50px;
}

#mainpage > ul {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    font-size: 20px;
}

#mainpage > ul > li {
    padding: 10px;
}

.newcharacterformrow, .viewcharacterformrow, .updatecharacterrow, .inventoryformrow {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 0px;
}

#viewcharactertoprow {
    justify-content: center;
    margin-bottom: 20px;
}

.newcharacterformcolumn, .viewcharacterformcolumn, .updatecharacterformcolumn, .inventoryformcolumn {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    min-width: 25%;
    padding-top: 0px;
}

.updatecharactersubmitformcolumn, .inventoryviewcolumn {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    min-width: 20%;
    padding-top: 0px;
}

.field-column, .view-column {
    height: 170px;
}

.newcharacterinput, .viewcharacterinput, .updatecharacterinput, .updateinventoryinput {
    margin: 5px;
    min-width: 200px;
    border-color: initial; 
}

.characterdetailvaluedisplay, .itemdetailvaluedisplay {          /*-->view page & inventory page*/
    background-color: #314977;
    margin: 5px;
    min-width: 200px;
    color: #f0e6d6;
    font-size: 25px;
    height: 45px;
    vertical-align: middle;
    box-shadow: 2px 3px 3px black;
    padding-top: 8px;
}

label {
    text-align: left;
    margin-top: 10px;
    font-size: 20px;
}

select {
    background-color: white;
    border-style: inset;
    border-width: 2px;
    border-color: initial;
    max-height: 30px;
}

.newcharactertextarea, .updatecharactertextarea, .itemdescriptiontextarea {
    resize: none;
    border-style: inset;
    border-width: 2px;
    border-color: initial;
    margin: 5px;
    width: 435px;
    min-width: 225px;
    min-height: 80px;
}

.viewcharactertextarea, .viewitemdetailtextarea {
    background-color: #314977;
    margin: 5px;
    width: 435px;
    min-width: 225px;
    color: #f0e6d6;
    font-size: 25px;
    min-height: 80px;
    vertical-align: middle;
    box-shadow: 2px 3px 3px black;
}


.newcharactercheckboxwrapper, .viewcharactercheckboxwrapper {
    display: flex;
    flex-direction: column;
    text-align: left;
    font-size: 18px;
    background-color: white;
    border-style: inset;
    border-color: initial;
    min-width: 270px;
}

.submitbutton, .resetviewbutton {
    border: none;
    color: #f0e6d6;
    background-color: #314977;
    height: 60px;
    min-width: 265px;
    max-width: 350px;
    text-align: center;
    font-size: 25px;
    margin-top: 20px;
    box-shadow: 2px 3px 3px black;
}

#updateinventorysubmit {
    margin-top: 60px;
}

#characterupdatesubmitform {
    display: none;
}

#inventorymenutoggle {
    margin-top: 20px;
    margin-bottom: 30px;
}

#viewinventoryform {
    display: none;
}

#itemdetailsview {
    margin-top: 30px;
}

#incrementquantitybutton {
    margin-top: 70px;
    margin-bottom: 10px;
}