* {
  border-radius: 5px;
  margin: 0;
  box-sizing: border-box;
  font-size: 20px;
  overflow: hidden;
  text-align: center;
}

:root {
  overflow: scroll;
}

body {
  background-color: beige;
}

.grid-container {
  display: grid;
  grid-gap: 6px;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}

.grid-item1 {
  color: lightblue;
  background-color: gray;
  box-shadow: 3px 2px 2px black;
  margin-right: 5px;
}

.top-flex {
  display: flex;
  flex-direction: column;
}

.top-flex > p {
  margin-top: 4px;
  margin-bottom: 4px;
}

#title-cell {
  height: 90px;
  justify-self: center;
  padding-top: 28px;
  font-size: 30px;
}

.pagewrapper {
  max-width: 900px;
  margin: 0 auto;
}

