ALTER TABLE CharacterDetails ADD DEFAULT 0 FOR Acrobatics;
ALTER TABLE CharacterDetails ADD DEFAULT 0 FOR AnimalHandling;
ALTER TABLE CharacterDetails ADD DEFAULT 0 FOR Arcana;
ALTER TABLE CharacterDetails ADD DEFAULT 0 FOR Athletics;
ALTER TABLE CharacterDetails ADD DEFAULT 0 FOR Deception;
ALTER TABLE CharacterDetails ADD DEFAULT 0 FOR History;
ALTER TABLE CharacterDetails ADD DEFAULT 0 FOR Insight;
ALTER TABLE CharacterDetails ADD DEFAULT 0 FOR Intimidation;
ALTER TABLE CharacterDetails ADD DEFAULT 0 FOR Investigation;
ALTER TABLE CharacterDetails ADD DEFAULT 0 FOR Medicine;
ALTER TABLE CharacterDetails ADD DEFAULT 0 FOR Nature;
ALTER TABLE CharacterDetails ADD DEFAULT 0 FOR Perception;
ALTER TABLE CharacterDetails ADD DEFAULT 0 FOR Performance;
ALTER TABLE CharacterDetails ADD DEFAULT 0 FOR Persuasion;
ALTER TABLE CharacterDetails ADD DEFAULT 0 FOR Religion;
ALTER TABLE CharacterDetails ADD DEFAULT 0 FOR SleightOfHand;
ALTER TABLE CharacterDetails ADD DEFAULT 0 FOR Stealth;
ALTER TABLE CharacterDetails ADD DEFAULT 0 FOR Survival;
ALTER TABLE CharacterDetails ADD DEFAULT 0 FOR StrengthSave;
ALTER TABLE CharacterDetails ADD DEFAULT 0 FOR DexteritySave;
ALTER TABLE CharacterDetails ADD DEFAULT 0 FOR ConstitutionSave;
ALTER TABLE CharacterDetails ADD DEFAULT 0 FOR IntelligenceSave;
ALTER TABLE CharacterDetails ADD DEFAULT 0 FOR WisdomSave;
ALTER TABLE CharacterDetails ADD DEFAULT 0 FOR CharismaSave;